.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
